{% extends 'base.html' %}

{% block css %}
<style>
  .card-category{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px #EC4D37;
  }
  h2{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1.5px 1.5px 2px #e6b6b6;
  }
  .list-group-item{
    transition: width 2s;
  }
  .list-group-item:hover{
    font-weight: bold;
    background-color: #030E4F;
    width: 100%;
  }
  .text{
    /* border: 2px solid red; */
    border-radius: 5px;
    color: #514644;
    text-decoration: none;
  }
  .text:hover{
    /* font-weight: bold; */
    color: #F49F1C;
    text-decoration: none !important;
    
    /* background-color: rgb(3, 5, 2); */
  } 
  #py_img{
    width: 5%;
  }
  #ai_img{
    width: 3%;
    margin-right: 8px;
  }
  #django_img{
    width: 4%;
    margin-right: 1%  
  }
  #cpp_img{
    width: 2%;
    margin-right: 1%
  }
  #link_img{
    width: 7%;
    margin-left: 4px;
  }
</style>
{% endblock %}
{% block body %}
{% include "notification.html" %}
<div class="container-fluid py-3">
  <div class="container-fluid">Wants to change your preferences?
    <a href="/change" class="btn btn-outline-info" name="preference">Change Preference</a>
  </div>
  <div class="row p-3">
    <div class="col-md-2">
      <ul class="list-group">
        {% if python_news %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class="text"  href="/detail?f=p">Python News</a>
          <!-- <span class="badge badge-secondary badge-pill">30</span> -->
        </li>
        {% endif %}
        {% if cpp_news %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class="text"  href="/detail?f=c">CPlusPlus News</a>
          <!-- <span class="badge badge-secondary badge-pill">30</span> -->
        </li>
        {% endif %}
        
        {% if ai_news %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class="text" href="/detail?f=a">AI news</a>
          <!-- <span class="badge badge-secondary badge-pill">30</span> -->
        </li>
        {% endif %}
        {% if django_news %}        
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a class="text"  href="/detail?f=d">Django News</a>
          <!-- <span class="badge badge-secondary badge-pill">30</span> -->
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col">
      <!-- Python News -->
      {% if python_news %} 
      <div class="container-fluid py-3">
        <div class="row">
          <div class="col">
            <div class="container">
              <h2>Python News</h2>
              <div class="row">
                <div class="col">
                  {% for news in python_news %}
                  <div class="card my-3">
                    <div class="card-body">
                      <img src="../static/images/wordpress-gab50779e4_640.png" alt="..." class="img-fluid" id="py_img">
                      <h4 class="card-title d-inline">{{ news|e }}</h4>
                      <p class="card-text">{{news.description}}</p>
                      <a target="blank"  class="card-link" >Date: {{news.created_at.date()}}</a>     
                    </div>
                    <div class="card-footer d-flex">
                      <a target="blank" href="{{news.link}}" class="card-link" >Read Source</a>
                      <span><img src="../static/images/link.jpg" alt="..." class="img-fluid" id="link_img"></span>    
                      
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      
      <!-- CPP News -->
      {% if cpp_news %} 
      <div class="container-fluid py-3">
        <div class="row">      
          <div class="col">
            <div class="container">
              <h2>CPP News</h2>
              <div class="row">
                <div class="col">
                  {% for news in cpp_news %} 
                  <div class="card my-3">
                    <div class="card-body">
                      <img src="../static/images/1822px-ISO_C++_Logo.svg.png" alt="..." class="img-fluid" id="cpp_img">
                      <h4 class="card-title d-inline">{{ news.topic }}</h4>
                      <div class="card-category"><h4>Category: {{news.category}}</h4></div>
                      <p class="card-text">{{news.description}}</p>
                      <a target="blank"  class="card-link" >Date: {{news.created_at.date()}}</a>     
                    </div>
                    <div class="card-footer d-flex">
                      <a target="blank" href="{{news.link}}" class="card-link" >Read Source</a>     
                      <span><img src="../static/images/link.jpg" alt="..." class="img-fluid" id="link_img"></span>
                      
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- AI News -->
      {% if ai_news %} 
      <div class="container-fluid py-3">
        <div class="row">      
          <div class="col">
            <div class="container">
              <h2>AI News</h2>
              <div class="row">
                <div class="col">
                  {% for news in ai_news %}
                  <div class="card my-3">
                    <div class="card-body">
                      <img src="../static/images/AI-removebg-preview.png" alt="..." class="img-fluid" id="ai_img">
                      <h4 class="card-title d-inline">{{ news.topic }}</h4>
                      <div class="card-category"><h4>Category: {{news.category}}</h4></div>
                      <p class="card-text">{{news.description}}</p>
                      <a target="blank"  class="card-link" >Date: {{news.created_at.date()}}</a>     
                      
                    </div>
                    <div class="card-footer d-flex">
                      <a target="blank" href="{{news.link}}" class="card-link" >Read Source</a>     
                      <span><img src="../static/images/link.jpg" alt="..." class="img-fluid" id="link_img"></span>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      
      <!-- Django News -->
      {% if django_news %} 
      <div class="container-fluid py-3">
        <div class="row">      
          <div class="col">
            <div class="container">
              <h2>Django News</h2>
              <div class="row">
                <div class="col">
                  {% for news in django_news %}
                  <div class="card my-3">
                    <div class="card-body">
                      <img src="../static/images/django.png" alt="..." class="img-fluid" id="django_img">
                      <h4 class="card-title d-inline">{{ news.topic }}</h4>
                      <div class="card-category"><h4>Category: {{news.category}}</h4></div>
                      <p class="card-text">{{news.description}}</p>
                      <a target="blank"  class="card-link" >Date: {{news.created_at.date()}}</a>     
                      
                    </div>
                    <div class="card-footer d-flex">
                      <a target="blank" href="{{news.link}}" class="card-link" >Read Source</a>     
                      <span><img src="../static/images/link.jpg" alt="..." class="img-fluid" id="link_img"></span>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>




{% endblock %}
{% block js %}{% endblock %}
